.task {
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

.task-form {
    min-width: 25%;
}

.btn:hover {
    background-color: slategrey;
}

.messages {
    border-radius: 30px;
    height: 500px;
    width: 500px;
}

#task1-icon {
    height: 15px;
    width: auto;
}

#task1-button {
    max-width: 100px;
}